*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    width: 1250px;
}

.nav{
    width: 1250px;
}

.header-image{
    width: 1250px;
    height: 200px;

}

nav{
    position: fixed;
    top: 75px;
    left: 210px;
    display: flex;
    border-bottom: 2px solid #a4a4a4;
    border-top: 2px solid #a4a4a4;
}

nav p{
    color: #3c3c3c;
    padding: 10px 30px;
}

.banner-image{
    width: 1250px;
    height: 700px;
}

.search{
    width: 300px;
    top: 630px;
    left: 475px;
    position: fixed;
    /*background-color: white;*/
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 10px;
    background:rgba(255,255,255,0.5);
    color: white;
}

.recommend{
    margin-top: 50px;
    width: 90%;
    margin-left: 5%;
}

.title{
    display: flex;
    align-items: center;
}

.title p{
    color: #016776;
    margin-left: 20px;
    font-weight: bold;
}

.short-line{
    background-color: #016776;
    width: 20px;
    height: 10px;
}