*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.nav{
    width: 1250px;
    background-image: url("../image/header.png");
    height: 170px;
    background-size: cover;
}

nav{
    margin-top: 70px;
    margin-left: 200px;
    width: 850px;
    display: flex;
    border-bottom: 2px solid #a4a4a4;
    border-top: 2px solid #a4a4a4;
}

nav p{
    color: #3c3c3c;
    padding: 10px 30px;
}

.banner{
    width: 1250px;
    background-image: url("../image/banner.png");
    height: 680px;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.search{
    width: 300px;
    margin-top: 400px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    background:rgba(255,255,255,0.5);
    color: white;
}

.recommend{
    width: 1250px;
    margin-top: 40px;
}

.title{
    display: flex;
    align-items: center;
}

.title p{
    color: #016776;
    margin-left: 20px;
    font-weight: bold;
    font-size: 25px;
}

.short-line{
    background-color: #016776;
    width: 20px;
    height: 7px;
    margin-left: 10px;
}

.main-content{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.single-content{
    width: 33%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    background-color: #f8f8f8;
    padding-top: 50px;
}

.single-content:nth-child(2){
    margin-left: 0.5%;
}

.single-content:nth-child(3){
    margin-left: 0.5%;
}

.main-title{
    color: #016776;
    font-weight: bold;
    margin: 50px 10px 0 10px;
}

.sub-title{
    color: #667578;
    margin: 40px 10px 25px 10px;
    font-size: 15px;
}

.content-image{
    width: 100%;
    height: 230px;
}

.theme{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 1250px;
}

.main-theme{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-left: 15%;
    justify-content: space-between;
}

.single-theme{
    display: flex;
    flex-direction: column;
    border: 3px solid #67a3ae;
    border-radius: 20px;
    padding: 20px;
    margin-left: 20px;
    margin-top: 50px;
}

.theme-image{
    width: 365px;
    height: 250px;
}

.single-theme p{
    color: #2d2d2d;
    margin-top: 10px;
    font-size: 14px;
}

.footer{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 1250px;
    height: 300px;
    background-image: url("../image/footer.png");
    background-size: cover;
    color: white;
    justify-content: space-between;
}

.footer-title{
    margin-top: 40px;
    margin-left: 50px;
    font-size: 22px;
}

.main-url{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

.single-url{
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.single-url img{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.illustration{
    display: flex;
    margin-left: 50px;
}

.illustration div:nth-child(2){
    margin-left: 100px;
}

.illustration-text{
    margin-top: 10px;
}

.illustration-title{
    font-size: 20px;
}

.weixin{
    margin-left: 50px;
    margin-bottom: 50px;
}



